<!DOCTYPE html>

<%- include('head'); %>

<body class="container">
    
    <%- include('header'); %>

    <main>
        <div class="container-fluid text-sm-center p-5 bg-info">
            <h1>Sobre mim</h1>
            <p>Oi Sou Maires e estou aprendendo sobre NodeEJS na rocketseat</p>
        </div>
    </main>

    <%- include('footer'); %>

</body>

</html>