<!DOCTYPE html>

    <%- include('head'); %>
    
    <body class='container'>
        <%- include('header'); %>
        <main>
            <div class="container-fluid text-sm-center p-5 bg-info">
                <h1>Node com EJS</h1>
                <p>Vamos aprender a trabalhor com arquivos EJS</p>
            </div>  
        </main>

        <%- include('footer'); %>

    </body>
</html>